*{
  font-family: sans-serif;
}
#container {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 85vh;
  margin:5px auto;
  border: 2px solid saddlebrown;
  border-radius: 10px;
}
h1 {
  text-align: center;
}
#add {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 5vh;
  margin: 0 auto;
}
input {
  width: 85%;
  height: 5vh;
}
#add > button {
  height: 5.8vh;
  width: 10%;
  min-width: fit-content;
  background-color: black;
  color: white;
}
#notes {
  border: 2px solid saddlebrown;
  height: 50vh;
  width: 80%;
  margin: auto;
  overflow: scroll;
}
p {
  text-align: center;
  font-size: 30px;
}
.notes {
  display: flex;
  flex-direction: row;
  text-indent: 8px;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 95%;
  min-width: fit-content;
  white-space: nowrap;
  border: 1px solid black;
  box-shadow: 4px 4px 3px black;
  border-radius: 5%;
  margin: 5px auto;
  height: 20%;
  font-size: 1.5em;
}
.delete {
  position: relative;
  border-radius: 6px;
  background-color: black;
  color: white;
  width: fit-content;
  padding:1em;
  height: 60%;
  margin-right: 5px;
}
#indicator{
  margin-top:25%;
}
.initiated{
  opacity: 40%;
  border: 2px solid green;
}
 @keyframes fade{
   from{
     opacity:100%;
     display: flex;
   }
   to{
     opacity:20%;
     display: none;
   }
 }
 #sign{
   display: flex;
   flex-direction:row;
   justify-content: flex-end;
 }
 #sign>a{
   width:10%;
   height:3vh;
   margin:5px;
   background-color:black;
   text-decoration:none;
   color:white;
   font-size:18px;
   text-align: center;
   padding-bottom: 7px;
   border-radius: 10px;
 }
 #sign>a:hover{
   opacity:0.7
 }
 #noteText{
   display: flex;
   flex-direction:column;
   
 }